*Impl.ts
Ecore*.ts
E*.ts
!Dynamic*.ts
!*Utils.ts
!E*Adapter.ts
!EDiag*.ts
!EFeatureMap*.ts
!EMap*.ts
!ENotif*.ts
!EObjectInternal.ts
!EObjectList.ts
!EPackageRegistry*.ts
!EResource*.ts
!ETreeIterator.ts
!EURI*.ts
!*Ext.ts
!*.test.ts
